.h1-hr {
    margin-bottom: 30px;
}
.product-table {
    width: 100%;
    height: 440px;
    background-color: white;
}
.p-t-1 {
    display: flex;
    height: 70px;
    background-color: transparent;
    margin: 15px;
}
.p-t-1 > p {
    margin-top: 20px;
    margin-right: 5px;
    font-size: 25px;
}
.p-t-1 > input {
    margin-top: 24px;
    height: 25px;
    font-size: 16px;
    width: 15%;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.p-t-1-space {
    flex-grow: 1;
}
.p-t-1-button {
    margin-top: 32px;
    border-radius: 5px;
    padding: 9px 30px;
    border: 2px solid;
    margin-right: 14px;
    font-size: 15px;
}
.filter-button {
    border-color: dodgerblue;
    color: dodgerblue;
}
.pdf-button {
    border-color:lawngreen;
    color: lawngreen;
}
.excel-button {
    border-color: crimson;
    color: crimson;
}
.p-t-1-button-2 {
    margin-top: 32px;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    font-size: 15px;
}
.import-button {
    background-color: blue;
    margin-right: 14px;
}
.create-button {
    background-color:sienna;
}
.p-t-2 {
    height: 300px;
    background-color: transparent;
    margin: 30px 15px 15px 15px;
}
.p-t-2 table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.border-buttom {
    border-bottom: 1px solid gray;
}
.cell-input {
    margin-right: 20px;
}
.cell-img {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}
.coke-img {
    width: 70px;
}
.food-img {
    width: 70px;
    height: 70px;
}
.d-flex {
    display: flex;
    width: 100%;
    background-color: transparent;
}
.u-d-triangle {
    width: 10px;
    font-size: 10px;
    line-height: 0.8;
    margin-right: 15px;
    margin-top: 2px;
    transform: scaleX(1.4);
}
.m-left {
    padding-bottom: 40px;
    padding-left: 22px;
    width: fit-content;
    background-color: transparent;
}
.num-s {
    margin-top: -2px;
    margin-left: 10px;
    display: flex;
    background-color: rgb(230, 230, 230);
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    border-bottom: 2px solid lightgray;
}
.s-u-d-triangle {
    font-size: 8px;
    line-height: 0.8;
    margin-top: 3px;
    margin-left: 15px;
    transform: scaleX(1.4);
}
.s-point {
    font-size: 8px;
    transform: scaleY(1.8);
}
.m-r-20 {
    margin-right: 20px;
}
.m-l-20 {
    margin-left: 20px;
}
.center-both {
    justify-content: center;
    align-items: center;
}