.h1-hr {
    margin-bottom: 0px;
}
.m-r-50 {
    margin-right: 50px;
}
.product-table {
    height: 270px;
}
.center-both {
    justify-content: end;
}
.p-t-2 table {
    width: 100%;
    height: 150px;
}