.h1-hr {
    margin-bottom: 0px;
}
.m-r-50 {
    margin-right: 50px;
}
.product-table {
    height: 320px;
}
.center-both {
    justify-content: end;
}
.p-t-2 table {
    height: 150px;
}
.date-range {
    margin-top: 20px;
    font-size: 15px;
    color: #666;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}
.date-range p {
    width: fit-content;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid gray;
    margin-bottom: 0px;
}