.main-content {
    margin: 20px 30px 0px 30px;
    width: 1860px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.main-content > table{
    border-collapse: collapse;
}
.content {
    height: 870px;
    background-color: red;
}
.credit {
    margin-top: -10px;
    text-align: center;
    height: 120px;
    border-radius: 20px;
    background: rgb(191, 191, 191);
}
.title {
    padding-top: 15px;
    font-size: 16px;
}
.credit > hr {
    margin-top: -10px;
}
.author {
    margin-top: -4px;
    font-size: 14px;
}
