
.navbar {
    box-shadow: 2px 2px 5px gray;
    background-color: white;
}
.navbar > table {
    position: relative;
    z-index: 3;
}
.navbar td {
    padding: 0px 10px 0px 10px;
}
.tran-button {
    background-color: transparent;
    border: none;
}
.logo-70 {
    width: 70px;
}
.Pos {
    background-color: rgb(225, 225, 225);
    border: 2px solid red;
    border-radius: 20px;
    color: red;
    font-size: 15px;
    padding: 10px 26px;
}
.noti-bell {
    width: 20px;
    color: red;
}
/* just turn the button transparent and put their profile */
.User {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 22px;
}
